<html>
<head>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <meta charset="utf8">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 

  <!-- module TVA -->
  <script src="modules/tva/tva.js"></script>
  <script src="modules/tva/tvaControllers.js"></script>
  <script src="modules/tva/tvaServices.js"></script>

    <!-- module TVA -->
  <script src="modules/posts/posts.js"></script>
  <script src="modules/posts/postsControllers.js"></script>

  <!-- module application -->
  <script src="modules/app/app.js"></script>

</head>
<body ng-app="app" ng-controller="tvaController">

  <div class="container">

<a ui-sref="hello" class="btn btn-default">HELLO WORLD</a>
  <!-- pour ui router -->
  <div ui-view></div>

    <h1>Calculette TVA</h1>
    <div class="row">
      <div class="col-xs-12">

        <form name="tvaForm" class="form">
          <div class="form-group">
            <label>montant HT</label>
            <input type="text" name="montant" class="form-control" ng-model="montant" required/>
            <span class="error" ng-show="tvaForm.montant.$error.required">Requis !</span>
          </div>

          <div class="form-group">
            <label>pourcentage TVA</label>
            <input type="text" class="form-control" ng-model="tva"/>
          </div>

          {{tva}}

          <strong>Montant TVA</strong> {{calculTVA().getMontantTVA()}}
          <hr>
          <strong>TOTAL TTC </strong> {{calculTVA().getMontantTTC()}}

          <hr>
          <h2>Ng click</h2>
          <!-- ng-click -->
          <div ng-click="tva=0" class="btn btn-success"> Mettre la TVA à 5.5%</div>
          <div ng-click="tva=10" class="btn btn-primary"> Mettre la TVA à 10%</div>
          <div ng-click="tva=20" class="btn btn-danger"> Mettre la TVA à 20%</div>

          <br /><br />
          <!-- On peut aussi appeler le controleur -->
          <div ng-click="montantRandom()" class="btn btn-danger"> Générer un montant aléatoire</div>

          <h2>NG-SHOW & hide : supprimer la TVA ou mettre une TVA supérieur à 20 pour voir le résultat</h2>
          <div ng-hide="tva" style="color:red"> La TVA est obligratoire</div>
          <div ng-show="tvaIsZero()" style="color:red"> TVA 0 !</div>
          <div ng-show="tva>20"> Les TVA supérieures à 20% n'existe pas ! (encore) </div>

          <hr>
          <h2>Ng repeat</h2>
          <div class="jumbotron">
            <ul>
              <div ng-repeat="item in items">
                {{$index}}
                <h3>{{item.title}}</h3>
                </div>
              </ul>
            </div>

            <div class="jumbotron">
              <ul>
               <div ng-repeat="post in posts">
                {{$index}}
                <h3>{{post.title}}</h3>
                </div>

              </ul>
            </div>


          </form>

        </div>
      </div>


      <hr>

    </div>

  </body>
  </html>